*{
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image: url(../images/web-1012467_1280.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0px;
}
.skills-padding{
    padding: 70px 0;
}